.breadcrumb {
  font-weight: 400;
  line-height: 1.45;
  margin: 0 0 16px;
  padding: 10px 0;
  li {
    display: inline;
    color: #666;

    .breadcrumb-link {
      float: none;
      cursor: pointer;
      text-decoration: none;
    }

    .breadcrumb-icon {
      display: inline;
      float: none;
      margin: 0 4px;
      padding: 0;
      stroke-width: 1.3;
    }
  }
}
